# Binaries for programs and plugins
.idea
.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
_out
_test
.out
vendor